<h1> Aqui vamos criar nossa página de listagem de alunos</h1>
<table>
    
    <thead class="table table-striped table-responsive">
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Escolaridade</th>
        <th>Ação</th>
    </thead>
    @foreach (var item in listaDeAlunos)
    {
        <tr>
            <td>1</td>
            <td>Carlos</td>
            <td>Carlos@gmail.com</td>
            <td>Alameda Barão de Limeira</td>
            <td>11-90909090</td>
            <td>Superior Completo</td>
            <td>
                <button>Editar</button>
                <button>Excluir</button>
            </td>
        </tr>
    }
</table>