@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oi, Eu sou o Dev Douglas Da Silva Ferreira :)</h1>
    <p>Bem vindo a minha primeira aplicação utilizando MVC Razor</p>
    <p>Aproveite e cadastre um aluno ou professor</p>
    
</div>
